<center>
    <h3> Ajouter2 d'un modele</h3>
    <form method="post">
        <label> Libelle </label>
        <input type="text" name="libelle"><br>
        <label> pays </label>
        <input type="text" name="pays"><br>
        <input type="submit" value="Ajouter">
    </form>
</center>